*{ margin: 0;
  padding: 0;
  box-sizing: border-box;}

  .bg{
  background-image: url(Pokedex_web.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
 
 
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.9fr 0.1fr;
  gap: 0px 26px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */


.container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#father {
  display: inline;
  align-items: left;
  justify-content: left;
  width: 70%;
  height:64%;
  margin-top: 9rem;
 margin-bottom: 2rem;
 overflow-y: scroll;
float: left;
}
 
  #father::-webkit-scrollbar {
    width: 10px
} 
#father::-webkit-scrollbar-track {
  background:  #6188ff;       
}
#father::-webkit-scrollbar-thumb{
  background-color:  #2174f1;
  border-radius: 20px;
  border: 3px solid #6188ff
}

.line {
  display: flex;
  flex-direction: row;
  justify-self: start;
  
  text-decoration: none;
  font-size: 20px;
  background-color: #fdeab1;
  border-radius: 2rem}
  .line h2{
    padding-left: 5px;
    text-transform: capitalize;
  }
.line img {
  max-width: 15%;
  max-height: 9%;
}

.card {
  display: flex;
  background-color: #3C3E44;
 align-items: center;
 justify-content: center;
  border-radius: .5rem;
  max-width: 70%;
  max-height: 50%;
  margin:  0 auto;
margin-top: 9rem;}